FIRECRAWL_KEY="YOUR_KEY"
# If you want to use your self-hosted Firecrawl, add the following below:
# FIRECRAWL_BASE_URL="http://localhost:3002"
# FIRECRAWL_CONCURRENCY="2"

OPENAI_KEY="YOUR_KEY"
CONTEXT_SIZE="128000"

# If you want to use other OpenAI compatible API, add the following below:
# OPENAI_ENDPOINT="http://localhost:11434/v1"
# CUSTOM_MODEL="llama3.1"
# MAAS_PROMPT_JSON="true"
# MAAS_JSON_MAX_TOKENS="4096"
# MAAS_REPORT_MAX_TOKENS="16000"
# MAAS_JSON_RETRIES="2"

# If you want to use fireworks.ai's DeepSeek R1 model:
# FIREWORKS_KEY="YOUR_KEY"
